<?xml version="1.0" encoding="utf-8" ?>
<!--
 * FILE             : ClientApp.config
 * PROJECT          : GuessTheWords-A02 > Client
 * PROGRAMMER       : Bibi Murwared
 * FIRST VERSION    : 2026-02-16
 * DESCRIPTION      : This file contains default values and valid ranges for the client settings.
-->
<configuration>
	<appSettings>

	</appSettings>
</configuration>

