<?xml version="1.0" encoding="utf-8" ?>
<!--
 * FILE             : App.config
 * PROJECT          : GuessTheWords-A02 > Server
 * PROGRAMMER       : Mohammad Mehdi Ebrahimzadeh
 * FIRST VERSION    : 2026-02-16
 * DESCRIPTION      : Configuration file for the Word Guessing Game server.
-->
<configuration>
	<appSettings>
		<!-- Network settings -->
		<add key="ServerPort" value="12345" />
		<add key="ReadBufferSize" value="1024" />

		<!-- Protocol settings -->
		<add key="ProtocolVersion" value="GTW/1.0" />
		<add key="EndLine" value="END" />

		<!-- Game settings -->
		<add key="GameDataFolder" value="GameData" />
		<add key="DefaultTimeLimit" value="180" />
	</appSettings>
</configuration>
